.profile__info {
  max-width: 336px;
  width: 100%;
  display: grid;
  grid-template-columns: 294px 1fr;
  row-gap: 8px;
  margin: 0 0 0 30px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    grid-template-columns: 233px 1fr;
    row-gap: 12px;
    margin: 0 0 32px 0;

  }
}
