.profile {
  display: grid;
  column-gap: 30px;
  grid: auto/min-content 1fr min-content;
  place-items: center left;

  @include screen940 {
    row-gap: 26px;
    grid: repeat(2, auto) 56px/1fr;
    place-items: end center;
  }
}
