root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[{*.markdown,*.md}]
trim_trailing_whitespace = false

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml}]
ij_html_enforce_quotes = true

[*.css]
ij_css_block_comment_add_space = true
ij_css_enforce_quotes_on_format = true
ij_css_hex_color_lower_case = true
ij_css_hex_color_short_format = true
ij_css_use_double_quotes = false

[*.scss]
ij_scss_block_comment_add_space = true
ij_scss_enforce_quotes_on_format = true
ij_scss_hex_color_lower_case = true
ij_scss_hex_color_short_format = true
ij_scss_line_comment_add_space = true
ij_scss_use_double_quotes = false

[{*.cjs,*.js}]
ij_javascript_force_quote_style = true
ij_javascript_use_double_quotes = false
