registry=https://registry.npmjs.org/
npm config set init.version "0.0.1"
npm config set init.author.name "AndreykA"
npm config set init.author.email "happyclient@yandex.ru"
npm config set init.author.url "https://github.com/Andreyka-Praktikum/"
npm config set init.license "ISC"
# npm config set registry "https://npm.prakticum-team.ru"
