.popup-edit__close-icon {
  width: 32px;
  height: 32px;
  background-image: url("../../../images/Close-Icon.svg");
  background-color: transparent;
  background-size: cover;
  border: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity .8s;
}
.popup-edit__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popupedit__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
