.profile__profession {
  max-width: 336px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__profession {
    max-width: 264px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 18px;
    text-align: center;
  }
  }
