.profile__image-wrap{
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .profile__image-wrap{
    margin: 0 auto;
  }
}
