.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: rgba(84, 84, 84, .7) 1px solid;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 760px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 320px;
    margin-bottom: 42px;
    min-height: 56px;
  }
}
