.form {
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  border-radius: 10px;

  box: {
    sizing: border-box;
    shadow: 0 0 25px rgba(0, 0, 0, .15);
  }

  color: #000;
  background-color: #fff;

  @include screen720 {
    padding: 25px 22px;
  }
}
