.btn_type_close {
  position: absolute;
  top: -40px;
  right: -40px;
  aspect-ratio: 1 / 1;
  width: 32px;
  border: none;
  background: url(../assets/btn_type_close.svg) center / 32px 32px no-repeat;
  font-size: 0;

  @include screen720 {
    width: 20px;
    top: -36px;
    right: 0;
    background-size: 20px 20px;
  }
}
