.btn_type_del {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  aspect-ratio: 1 / 1;
  width: 19px;
  border: none;
  background: url(../assets/btn_type_del.svg) center / 18px 19px no-repeat;
  font-size: 0;
}
