.btn_type_edit {
  order: 1;
  aspect-ratio: 1 / 1;
  width: 24px;
  border-width: 1px;
  background: url(../assets/btn_type_profile.svg) center / 10px 10px no-repeat;
  font-size: 0;

  @include screen720 {
    width: 18px;
    background-size: 7.5px 7.5px;
  }

}
